* {
  margin: 0;
  padding: 0;
}

body {
  --light: #f8ede3;
  --medium: #dfd3c3;
  --dark: #d0b8a8;
  --brown: #85586f;
  overflow-x: hidden;
}

body.stopScroll {
  overflow-y: hidden;
}

/* NAV */

.nav-wrapper-mobile {
  position: fixed;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 100;
  padding-top: 20px;
}

.hamburger {
  position: fixed;
  top: 4%;
  left: 4%;
  display: none;
  flex-direction: column;
  z-index: 101;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger-line {
  height: 2px;
  width: 30px;
  background-color: white;
  margin-top: 8px;
}

.hamburger-line.blackBurger {
  background-color: black;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  background-color: #85586f;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dfd3c3' fill-opacity='0.29'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  z-index: 99;
  padding: 5px;
}

.nav_logoIcon {
  height: 55px;
  margin: 10px;
  margin-left: 60px;
  padding-top: 5px;
}

.nav_itemsWrapper {
  width: 100%;
}

.nav_itemsList {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  color: var(--light);
}

.nav_listItem {
  font-family: "Lato";
  position: relative;
  font-size: 22px;
  text-shadow: black 1px 0 10px;
}

.nav_dropdownWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.nav_listDropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  flex-direction: column;
  opacity: 0%;
  overflow: hidden;
  list-style: none;
  background-color: var(--brown);
  border-radius: 20px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
  z-index: 99;
  text-align: left;
  transition: 0.3s;
  box-shadow: 3px 3px 1px 2px rgba(0, 0, 0, 0.1);
  animation-duration: 1s;
  animation-name: cardTurn;
  transform-style: preserve-3d;
  transform: rotateY(180deg) translateX(-50%);
  border: 2px solid var(--light);
}

.nav_listDropdownItem {
  padding-top: 14px;
  font-size: 20px;
  color: var(--light);
  backface-visibility: hidden;
  transition: 0.3s;
}

.nav_listItem:hover {
  cursor: pointer;
}

.nav_dropdownWrapper:hover > .nav_listDropdown {
  display: flex;
  opacity: 100%;
  overflow: auto;
  top: 0%;
  transform: rotateY(0deg) translateX(-50%);
}

.nav_listDropdownItem:hover {
  transform: scale(1.04);
}

/* HERO  */

.hero-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HERO VIDEO */

.hero_video-wrapper::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.448);
  z-index: 3;
}

.hero_video-wrapper {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.hero_backgroundVideo {
  height: 100%;
  width: 100%;
}
/* HERO TEXT */
.hero_text-wrapper {
  z-index: 30;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_icon {
  margin-bottom: 80px;
  background-color: white;
  border-radius: 71px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.hero_icon-image {
  border-radius: 71px;
}

.hero_text-wrapper-h1 {
  font-size: 80px;
  color: white;
  font-family: "Luckiest Guy";
  line-height: 100px;
}

/* CAROUSEL SECTION */
.glide-wrapper {
  padding-top: 40px;
  padding-bottom: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dfd3c3' fill-opacity='0.29'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #85586f;
  background-attachment: fixed;
}

.glide__track {
}

.glide__slide {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.glide__slideTopWrapper {
  box-shadow: 3px 3px 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid var(--light);
}
.glide__slideTop {
  background-position: center;
  background-size: cover;
  height: 350px;
  align-self: center;
  width: 100%;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.glide__slideTop:hover {
  transform: scale(1.05);
}

.glide__slideBottom {
  text-align: center;
  padding: 20px;

  align-self: center;
  font-family: "Lato";
  font-size: 20px;
  color: var(--brown);
  background-color: var(--medium);
  transform: translateY(-40%);
  text-transform: capitalize;
  transition: 0.3s;
  border-radius: 5px;
}

.glide__slideBottom:hover {
  transform: translateY(-40%) scale(1.045);
}

/* APPLY NOW */
.applyNow_wrapper {
  background-image: url("https://images.unsplash.com/photo-1600093463592-8e36ae95ef56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-size: cover;
  /* background-position-y: -600px; */
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}
.applyNow_wrapper:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.741);
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.applyNow_text {
  text-align: center;
  color: var(--light);
  font-family: "Lato";
  width: 77%;
  background-color: rgba(0, 0, 0, 0.069);
  border-radius: 40px;
  padding: 20px;
}

.applyNow_text h1 {
  font-size: 41px;
}
.applyNow_button {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.applyNow_button button {
  padding: 20px;
  padding-bottom: 13px;
  font-family: "Luckiest Guy";
  font-size: 24px;
  color: var(--light);
  background-color: var(--brown);
  border: none;
  border-radius: 3px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  border: 2px solid var(--light);
}

.applyNow_buttonIcon {
  height: 30px;
  margin-left: 15px;
  transform: translateY(-7px) translateX(40px);
  opacity: 0%;
  overflow: hidden;
  position: absolute;
  transition: 0.3s all;
}
.applyNow_button button:hover {
  transform: scale(1.04);
  padding-right: 50px;
}

.applyNow_button:hover .applyNow_buttonIcon {
  opacity: 100%;
  transform: translateY(-7px) translateX(80px);
}
/* SOCIAL MEDIA SECTION */
.social-media-wrapper {
  background-color: #85586f;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dfd3c3' fill-opacity='0.29'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-media-title {
  font-size: 60px;
  color: var(--light);
  font-family: "Luckiest Guy";
  text-align: center;
  padding-top: 40px;
  animation-duration: 3s;
  animation-name: slidein;
  text-shadow: rgba(248, 237, 227, 0.2) 4px 4px 4px;
}

@keyframes slidein {
  from {
    margin-left: 10%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.social-media-line {
  height: 0px;
  width: 30%;
  border: 3px solid black;
  margin: 20px;
}

.social-media-icon {
  transform: scale(0.8);
  transition: 0.3s;
}
.social-media-icon:hover {
  transform: scale(0.9);
  cursor: pointer;
}

/* FOOTER */

.footer-wrapper {
  background-color: var(--light);
  padding: 20px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.footer-list-item {
  color: var(--brown);
  font-family: "Lato";
  font-size: 20px;
}

.footer-list-item:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .footer-list {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .footer-list {
    flex-direction: column;
  }

  .footer-list-item {
    padding-top: 10px;
  }

  .social-media-line {
    width: 80%;
  }

  .applyNow_text {
    width: 90%;
  }

  .hero_icon {
    transform: scale(0.7);
  }
  .hero_text-wrapper-h1 {
    font-size: 70px;
    width: 80%;
  }

  .nav-wrapper {
    display: none;
  }
  .nav-wrapper-mobile.showMenu {
    display: flex;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    transform: translateX(0%);
  }
  .hero-wrapper {
    height: 89vh;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 440px) {
  #social-media-icon-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
  }
  .social-media-title {
    line-height: 80px;
  }
  .applyNow_text {
    width: 100%;
  }
  .hero_icon {
    transform: scale(0.5);
  }
  .hero_text-wrapper-h1 {
    font-size: 50px;
    width: 50%;
  }

  .hero-wrapper {
    height: 69vh;
  }
}

/* MOBILE NAV  */

.nav_logo-mobile {
}

.nav_logoIcon-mobile {
  padding-top: 10px;
  padding-bottom: 50px;
}

.nav_itemsWrapper-mobile {
  width: 100%;
  height: 100%;
}

.nav_itemsList-mobile {
  height: 60%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: var(--brown);
  font-family: "Lato";
  font-size: 30px;
  text-shadow: rgb(1, 1, 1, 0.15) 4px 4px 4px;
}

.nav_itemsList-mobile:hover {
  cursor: pointer;
}

.nav_bottomLogoMobile {
  margin-left: 20px;
  margin-top: 100px;
}
